<div *ngIf="formArray" class="form-group">
  <div class="full-row">
    <table class="mat-z8">
      <tbody>
        <ng-container
          *ngFor="let formGroup of formArray.controls; let i = index"
          [ngTemplateOutlet]="parishRow"
          [ngTemplateOutletContext]="{ formGroup: castToformGroup(formGroup), index: i }"
        ></ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td [attr.colspan]="4">
            <div>
              <button
                type="button"
                mat-raised-button
                color="warn"
                class="addParish"
                (click)="addParish()"
              >
                <mat-icon>add</mat-icon>
                <span>Adicionar freguesia</span>
              </button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Parish rows -->
<ng-template #parishRow let-formGroup="formGroup" let-index="index">
  <tr
    [formGroup]="formGroup"
    class="parishes-definition"
  >
    <td>
      <div>
        <mat-form-field color="warn" class="filter">
          <mat-label>Nome curto</mat-label>
          <input
            matInput
            required
            type="text"
            formControlName="short"
            [matAutocomplete]="suggestionBoxShort"
          >
          <mat-autocomplete #suggestionBoxShort="matAutocomplete" [displayWith]="displayFunctionShort">
            <mat-option *ngFor="let option of filterOptions | async" [value]="{option: option, formGroup: castToformGroup(formGroup)}">
              <ng-container
                [ngTemplateOutlet]="parishOptionContainer"
                [ngTemplateOutletContext]="{option:option}"
              ></ng-container>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="errors-hints">
          <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.short, ['required'])">
            O campo é obrigatório!
          </mat-error>
          <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.short, ['minlength', 'maxlength'])">
            O campo deve ter entre 1 e 32 caracteres!
          </mat-error>
        </div>
      </div>
    </td>
    <td>
      <div>
        <mat-form-field color="warn" class="filter">
          <mat-label>Nome</mat-label>
          <input
            matInput
            required
            type="text"
            formControlName="name"
            [matAutocomplete]="suggestionBoxName"
          >
          <mat-autocomplete #suggestionBoxName="matAutocomplete" [displayWith]="displayFunctionName">
            <mat-option *ngFor="let option of filterOptions | async" [value]="{option: option, formGroup: castToformGroup(formGroup)}">
              <ng-container
                [ngTemplateOutlet]="parishOptionContainer"
                [ngTemplateOutletContext]="{option:option}"
              ></ng-container>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="errors-hints">
          <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.name, ['required'])">
            O campo é obrigatório!
          </mat-error>
          <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.name, ['minlength', 'maxlength'])">
            O campo deve ter entre 2 e 255 caracteres!
          </mat-error>
        </div>
      </div>
    </td>
    <td class="mandates">
      <div>
        <mat-form-field color="warn" class="filter">
          <mat-label>Mandatos</mat-label>
          <input
            matInput
            required
            type="number"
            formControlName="mandates"
          >
        </mat-form-field>
        <div class="errors-hints">
          <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.mandates, ['required'])">
            O campo é obrigatório!
          </mat-error>
          <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.mandates, ['pattern'])">
            O campo deve ser um número inteiro!
          </mat-error>
        </div>
      </div>
    </td>
    <td>
      <button
        type="button"
        mat-icon-button
        matTooltip="Mesas de voto"
        color="warn"
        (click)="toggleSubPanel(index, 'tables')"
        [matBadge]="formGroup.controls.tables.length"
        matBadgeSize="small"
        matBadgeOverlap="true"
        matBadgeColor="warn"
      >
        <mat-icon>how_to_vote</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        matTooltip="Partidos"
        color="warn"
        (click)="toggleSubPanel(index, 'parties')"
        [matBadge]="formGroup.controls.parties.length"
        matBadgeSize="small"
        matBadgeOverlap="true"
        matBadgeColor="warn"
      >
        <mat-icon>ballot</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        matTooltip="Remover freguesia"
        color="warn"
        (click)="removeParish(index)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  <tr
    [formGroup]="formGroup"
    class="tables-definition"
    *ngIf="subPanels.tables === index"
  >
    <td [attr.colspan]="4">
      <app-poll-form-tables
        formArrayName="tables"
      ></app-poll-form-tables>
    </td>
  </tr>
  <tr
    [formGroup]="formGroup"
    class="parties-definition"
    *ngIf="subPanels.parties === index"
  >
    <td [attr.colspan]="4">
      <app-poll-form-parties
        formArrayName="parties"
      ></app-poll-form-parties>
    </td>
  </tr>
</ng-template>

<!-- Autocomplete options -->
<ng-template #parishOptionContainer let-option="option">
  <div class="autocomplete-option" [matTooltip]="option.short + ' - ' + option.name">
    <span class="title">{{ option.name }}</span>
    <span class="subtitle">{{ option.short }}</span>
  </div>
</ng-template>
