
tbody {
  tr.parishes-definition {
    td {
      vertical-align: text-bottom;

      &.mandates {
        width: 50px;
      }

      & > div {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }

      &:first-child {
        width: 100px;
      }

      &:last-child {
        width: 120px;
        text-align: right;
      }
    }
  }
}

tfoot div, tfoot button {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

:host .parishes-definition ::ng-deep .mat-badge-content {
  right: -3px !important;
  top: -3px !important;
  border: 2px solid #FFF;
}

.autocomplete-option {
  line-height: normal;

  & span {
    display: block;

    &.subtitle {
      color: #999;
      font-size: .8em;
    }
  }
}

.tables-definition, .parties-definition {
  td {
    background: #FBFBFB;
    border: 1px solid rgba(0, 0, 0, .12);
    padding-top: 16px;
  }
}
