:host {
  $STRENGTH_STATES:
    'weak' 33.33% #ff573a,
    'medium' 66.66% #ffe23f,
    'strong' 100% #2eaf42;

  mat-form-field {
    width: 100%;
  }

  .password-input {
    padding-bottom: 1.25em;
  }

  .strength-indicator {
    margin-top: -10px;

    .indicator-label {
      font-size: .8em;
      text-align: left;
      color: #999;
    }
    .strength-label {
      font-size: .8em;
      font-style: italic;
      float: right;
      transition: color .192s ease-in-out;
    }

    .strength-bar {
      display: block;
      height: 6px;
      padding: 0;
      margin: 0;
      border: 1px solid #CCC;
      border-radius: 6px;

      & > .bar-color {
        height: 6px;
        padding: 0;
        margin: 0;
        border-radius: 6px;
        width: 0px;
        transition: background-color .192s ease-in-out, width .192s ease-in-out;
      }
    }

    @each $NAME, $SIZE, $COLOR in $STRENGTH_STATES {
      &.#{$NAME} {
        .strength-bar > div {
          width: $SIZE;
          background: $COLOR;
        }
        .strength-label {
          color: $COLOR;
        }
      }
    }
  }
}
