<div class="password-input">
  <mat-form-field color="warn">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="isMouseDown ? 'text' : 'password'"
      [required]="required"
      [formControl]="controller()"
      (focus)="onTouch($event)"
    >
    <button
      type="button"
      mat-icon-button
      matSuffix
      (mousedown)="isMouseDown = true"
      (touchstart)="isMouseDown = true"
      (mouseup)="isMouseDown = false"
      (touchend)="isMouseDown = false"
      (mouseleave)="isMouseDown = false"
      (mouseout)="isMouseDown = false"
    >
      <mat-icon>{{isMouseDown ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>
  <div
    class="strength-indicator"
    *ngIf="{ value: getStrength() }; let strength"
    [ngClass]="{
      'weak': strength.value > 0 && strength.value <= 33.33,
      'medium': strength.value > 33.33 && strength.value <= 66.66,
      'strong': strength.value > 66.66
    }"
  >
    <span class="indicator-label">Força da password</span>
    <span
      *ngIf="ngControl.control?.value"
      class="strength-label"
    >{{
      ['Fraca', 'Média', 'Forte'][
        (strength.value <= 33.33) ? 0 : ((strength.value <= 66.66) ? 1 : 2)
      ]
    }}</span>
    <div class="strength-bar">
      <div class="bar-color"></div>
    </div>
  </div>
</div>
