<div *ngIf="formArray" class="form-group">
  <div class="full-row">
    <table class="mat-z8">
      <tbody>
        <tr
          *ngFor="let formGroup of formArray.controls; let i = index"
          [formGroup]="castToformGroup(formGroup)"
        >
          <td>
            <div>
              <mat-form-field color="warn" class="filter">
                <span matPrefix>Mesa</span>
                <input
                  matInput
                  required
                  type="text"
                  [value]="castToformGroup(formGroup).controls.tableNumber.value"
                  [disabled]="true"
                >
              </mat-form-field>
            </div>
          </td>
          <td>
            <button
              type="button"
              mat-icon-button
              matTooltip="Responsável(is) pela mesa"
              [matBadge]="castToFormArray(castToformGroup(formGroup).controls.users).length"
              matBadgeSize="small"
              matBadgeOverlap="true"
              matBadgeColor="warn"
              color="warn"
              (click)="changeResponsibles(formGroup)"
            >
              <mat-icon>person</mat-icon>
            </button>
            <button
              type="button"
              mat-icon-button
              matTooltip="Remover mesa"
              color="warn"
              [disabled]="i !== (formArray.length - 1)"
              (click)="removeTable()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td [attr.colspan]=2>
            <div>
              <button
                type="button"
                mat-raised-button
                color="warn"
                class="addTable"
                (click)="addTable()"
              >
                <mat-icon>add</mat-icon>
                <span>Adicionar mesa</span>
              </button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
