
tbody {
  td {
    vertical-align: text-bottom;

    & > div {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }

    &:last-child {
      width: 80px;
      text-align: right;
    }
  }
}

:host tbody td:last-child ::ng-deep .mat-badge-content {
  right: -3px !important;
  top: -3px !important;
  border: 2px solid #FFF;
}

span[matPrefix] {
  padding-right: 5px;
}

tfoot div, tfoot button {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

