<mat-card class="card-form">
  <mat-card-header>
    <mat-card-title>Entrar</mat-card-title>
  </mat-card-header>
  <form [formGroup]="formGroup" class="form-group" (ngSubmit)="submitLogin()">
    <mat-card-content>
      <div class="full-row">
        <mat-form-field color="warn">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
          >
        </mat-form-field>
      </div>
      <div class="full-row">
        <mat-form-field color="warn">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
          >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <a routerLink="/" mat-stroked-button color="warn">Voltar</a>
      <button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="warn">Entrar</button>
    </mat-card-actions>
  </form>
</mat-card>
