<mat-toolbar>
  <span class="toolbar-spacer"></span>
  <app-toolbar-logged-in
    *ngIf="isUserLoggedIn(); else loggedOutUser"
    (menuClick)="menuClick.emit($event)"
  ></app-toolbar-logged-in>
  <ng-template #loggedOutUser>
    <app-toolbar-logged-out></app-toolbar-logged-out>
  </ng-template>
</mat-toolbar>
