:host {
  tbody {
    td {
      vertical-align: text-bottom;

      & > div {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }

      &:first-child {
        width: 32px;
      }

      &:nth-child(2) {
        width: 100px;
      }

      &:last-child {
        width: 32px;
        text-align: right;
      }
    }
  }

  tfoot div, tfoot button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

}

.color-column, .color-filter {
  width: 40px;
}

input[type="color"]  {
  height: 14px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 3px;
}

.autocomplete-option {
  line-height: normal;

  & span {
    display: block;

    &.subtitle {
      color: #999;
      font-size: .8em;
    }
  }
}
