<div *ngIf="formArray" class="form-group">
  <div class="full-row">
    <table class="mat-z8">
      <tbody>
        <tr
          *ngFor="let formGroup of formArray.controls; let i = index"
          [formGroup]="castToformGroup(formGroup)"
        >
          <td>
            <button
              type="button"
              mat-icon-button
              matTooltip="Definir como principal"
              color="warn"
              (click)="changePrimary(i)"
            >
              <mat-icon>{{ castToformGroup(formGroup).controls.primary.value ? 'star' : 'star_border' }}</mat-icon>
            </button>
          </td>
          <td>
            <div>
              <mat-form-field color="warn" class="filter">
                <mat-label>Sigla</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  formControlName="short"
                  [matAutocomplete]="suggestionBoxShort"
                >
                <mat-autocomplete #suggestionBoxShort="matAutocomplete" [displayWith]="displayFunctionShort">
                  <mat-option *ngFor="let option of filterOptions | async" [value]="{option: option, formGroup: castToformGroup(formGroup)}">
                    <ng-container
                      [ngTemplateOutlet]="partyOptionContainer"
                      [ngTemplateOutletContext]="{option:option}"
                    ></ng-container>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="errors-hints">
                <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.short, ['required'])">
                  O campo é obrigatório!
                </mat-error>
                <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.short, ['minlength', 'maxlength'])">
                  O campo deve ter entre 1 e 32 caracteres!
                </mat-error>
              </div>
            </div>
          </td>
          <td>
            <div>
              <mat-form-field color="warn" class="filter">
                <mat-label>Nome</mat-label>
                <input
                  matInput
                  required
                  type="text"
                  formControlName="name"
                  [matAutocomplete]="suggestionBoxName"
                >
                <mat-autocomplete #suggestionBoxName="matAutocomplete" [displayWith]="displayFunctionName">
                  <mat-option *ngFor="let option of filterOptions | async" [value]="{option: option, formGroup: castToformGroup(formGroup)}">
                    <ng-container
                      [ngTemplateOutlet]="partyOptionContainer"
                      [ngTemplateOutletContext]="{option:option}"
                    ></ng-container>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="errors-hints">
                <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.name, ['required'])">
                  O campo é obrigatório!
                </mat-error>
                <mat-error *ngIf="hasErrors(castToformGroup(formGroup).controls.name, ['minlength', 'maxlength'])">
                  O campo deve ter entre 2 e 255 caracteres!
                </mat-error>
              </div>
            </div>
          </td>
          <td class="color-column">
            <div>
              <mat-form-field color="warn" class="filter color-filter">
                <mat-label>Cor</mat-label>
                <input
                  matInput
                  type="color"
                  formControlName="color"
                >
              </mat-form-field>
            </div>
          </td>
          <td>
            <button
              type="button"
              mat-icon-button
              matTooltip="Remover partido"
              color="warn"
              (click)="removeParty(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td [attr.colspan]=5>
            <div>
              <button
                type="button"
                mat-raised-button
                color="warn"
                class="addParty"
                (click)="addParty()"
              >
                <mat-icon>add</mat-icon>
                <span>Adicionar partido</span>
              </button>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Autocomplete options -->
<ng-template #partyOptionContainer let-option="option">
  <div class="autocomplete-option" [matTooltip]="option.short + ' - ' + option.name">
    <span class="title">{{ option.name }}</span>
    <span class="subtitle">{{ option.short }}</span>
  </div>
</ng-template>
