<mat-card *ngIf="formGroup" class="card-form">
  <div mat-card-title>{{ isNewPoll ? 'Criar' : 'Editar' }} eleição</div>
  <mat-divider></mat-divider>
  <div mat-card-content>
    <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="submitForm()">
      <mat-tab-group color="warn" dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              class="tab-label"
              [class.tab-label-error]="formGroup.controls.general.invalid"
            >Geral</span>
          </ng-template>
          <app-poll-form-general
            formGroupName="general"
          ></app-poll-form-general>
        </mat-tab>
        <mat-tab
          *ngIf="formGroup.controls.cityHall; let cityHall"
          formArrayName="cityHall"
        >
          <ng-template mat-tab-label>
            <span
              class="tab-label"
              [matBadge]="castToFormArray(castToFormGroup(cityHall).controls.parties).controls.length"
              matBadgeSize="small"
              [matBadgeOverlap]="false"
              matBadgeColor="warn"
              [class.tab-label-error]="cityHall.invalid"
            >Câmara Municipal</span>
          </ng-template>
          <div class="form-group">
            <div class="third-row">
              <mat-form-field color="warn">
                <mat-label>Mandatos</mat-label>
                <input
                  matInput
                  type="number"
                  required
                  formControlName="mandates"
                >
              </mat-form-field>
              <div class="errors-hints">
                <mat-error *ngIf="hasErrors(castToFormGroup(cityHall).controls.mandates, ['required'])">
                  O campo Mandatos é obrigatório!
                </mat-error>
                <mat-error *ngIf="hasErrors(castToFormGroup(cityHall).controls.mandates, ['pattern'])">
                  O campo Mandatos é obrigatório!
                </mat-error>
              </div>
            </div>
            <div class="full-row">
              <app-poll-form-parties
                formArrayName="parties"
              ></app-poll-form-parties>
            </div>
          </div>
        </mat-tab>
        <mat-tab
          *ngIf="formGroup.controls.cityCouncil; let cityCouncil"
          formArrayName="cityCouncil"
        >
          <ng-template mat-tab-label>
            <span
              class="tab-label"
              [matBadge]="castToFormArray(castToFormGroup(cityCouncil).controls.parties).controls.length"
              matBadgeSize="small"
              [matBadgeOverlap]="false"
              matBadgeColor="warn"
              [class.tab-label-error]="cityCouncil.invalid"
            >Assembleia Municipal</span>
          </ng-template>
          <div class="form-group">
            <div class="third-row">
              <mat-form-field color="warn">
                <mat-label>Mandatos</mat-label>
                <input
                  matInput
                  type="number"
                  required
                  formControlName="mandates"
                >
              </mat-form-field>
              <div class="errors-hints">
                <mat-error *ngIf="hasErrors(castToFormGroup(cityCouncil).controls.mandates, ['required'])">
                  O campo Mandatos é obrigatório!
                </mat-error>
                <mat-error *ngIf="hasErrors(castToFormGroup(cityCouncil).controls.mandates, ['pattern'])">
                  O campo Mandatos é obrigatório!
                </mat-error>
              </div>
            </div>
            <div class="full-row">
              <app-poll-form-parties
                formArrayName="parties"
              ></app-poll-form-parties>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span
              class="tab-label"
              [matBadge]="castToFormArray(castToFormGroup(formGroup).controls.parishAssemblies).controls.length"
              matBadgeSize="small"
              [matBadgeOverlap]="false"
              matBadgeColor="warn"
              [class.tab-label-error]="castToFormGroup(formGroup).controls.parishAssemblies.invalid"
            >Assembleias de Freguesia</span>
          </ng-template>
          <app-poll-form-parish-assembly
            formArrayName="parishAssemblies"
          ></app-poll-form-parish-assembly>
        </mat-tab>
      </mat-tab-group>
      <mat-divider></mat-divider>
      <div class="actions">
        <button type="button" mat-button (click)="cancelForm()">Cancelar</button>
        <button
          type="submit"
          mat-raised-button
          color="warn"
          [disabled]="formGroup.invalid || formGroup.status === 'PENDING'"
        >Guardar</button>
      </div>
    </form>
  </div>
</mat-card>
