:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  div[mat-card-title] {
    padding-top: 16px;
    padding-bottom: 24px;

    padding: 16px 24px 24px 24px;
  }

  .not-unique > * {
    vertical-align: middle;
    display: inline-block;
  }

  .not-unique mat-spinner, .valid-username mat-icon {
    margin-right: 5px;
  }

  mat-tab {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px;
  }

  mat-tab-group ::ng-deep mat-tab-header {
    margin-top: 1px;
    margin-left: -16px;
    margin-right: -16px;
    background: #FBFBFB;
  }

  mat-tab-group ::ng-deep mat-tab-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px;
  }

  .tab-label.tab-label-error {
    color: red;
  }

}
