<mat-drawer-container autosize hasBackdrop="true">
  <mat-drawer #drawer position="end" mode="over">
    <app-navigation *ngIf="isLoggedIn()" (close)="drawer.toggle()"></app-navigation>
  </mat-drawer>

  <mat-drawer-content>
    <app-toolbar (menuClick)="drawer.toggle()"></app-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
