:host {
  mat-drawer-container {
    height: 100%;
    flex: 1 1 auto;

    .content {
      flex: 1 1 auto;
      min-height: calc(100% - 128px);
      box-sizing: border-box;
      padding: 42px 16px;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
