:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .general-actions {
    text-align: right;
    margin-bottom: 16px;

    a {
      padding: 10px 16px;
      span {
        line-height: 17px;
      }
    }
  }

  table {
    width: 100%;

    tr {
      &:nth-child(2) > th {
        background: #FBFBFB;

        &:not(:last-child) {
          padding-right: 24px;
        }
      }

      & > *:last-child {
        width: 150px;
        text-align: right;
      }
    }
  }
}
