<div class="general-actions">
  <a mat-raised-button color="warn" routerLink="/users/create">
    <mat-icon>add</mat-icon>
    <span>Adicionar novo utilizador</span>
  </a>
</div>
<div>
  <table
    mat-table
    matSort
    [matSortActive]="sortBy.value + ''"
    matSortDirection="asc"
    [matSortDisableClear]="true"
    (matSortChange)="changeSort($event)"
    [dataSource]="usersDataSource"
    class="mat-elevation-z8"
  >
    <!-- Main header and column definitions -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
    <ng-container matColumnDef="parish">
      <th mat-header-cell mat-sort-header="parish" *matHeaderCellDef>Freguesia</th>
      <td mat-cell *matCellDef="let user">
        <span [matTooltip]="user.parish?.name">{{ user.parish?.short }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="contacts">
      <th mat-header-cell *matHeaderCellDef>Contacto</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let user">
        <mat-slide-toggle
          (change)="disableUser(user)"
          [checked]="user.enabled"
          color="warn"
          [disabled]="!user.editable"
        ></mat-slide-toggle>
        <a
          mat-icon-button
          matTooltip="Editar utilizador"
          [routerLink]="['/users', user.id, 'edit']"
          color="warn"
        >
          <mat-icon>edit</mat-icon>
        </a>
        <button
          mat-icon-button
          matTooltip="Remover utilizador"
          color="warn"
          (click)="confirmUserRemove(user)"
          [disabled]="!user.editable"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header filters -->
    <ng-container matColumnDef="filtername">
      <th mat-header-cell *matHeaderCellDef>
        <app-autocomplete-filter
          label="Filtrar nome"
          [options]="autoCompleteUsers"
          [formControl]="formControlNameFilter"
        ></app-autocomplete-filter>
      </th>
    </ng-container>
    <ng-container matColumnDef="filterparish">
      <th mat-header-cell *matHeaderCellDef>
        <app-autocomplete-filter
          label="Filtrar freguesia"
          [options]="autoCompleteParishes"
          [formControl]="formControlParishFilter"
        ></app-autocomplete-filter>
      </th>
    </ng-container>
    <ng-container matColumnDef="filtercontacts">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filteractions">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- Table footer -->
    <ng-container matColumnDef="tableFooter">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        <mat-paginator
          color="warn"
          [length]="totalUsers"
          [pageSize]="+(itemsPerPage.value || 10)"
          [pageIndex]="+(pageIndex.value || 0)"
          [pageSizeOptions]="[10, 25, 50, 100]"
          (page)="changePage($event)"
        ></mat-paginator>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['tableFooter']"></tr>
  </table>
</div>
