.dialog-title-container {
  margin-bottom: 16px;

  h2 {
    margin-bottom: 0;
  }

  span {
    font-size: .8em;
    color: #666;
  }
}

table {
  width: 100%;

  tbody {
    td {
      vertical-align: text-bottom;

      & > div {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }

      &:last-child {
        width: 40px;
        text-align: right;
      }
    }
  }

  tfoot div, tfoot button {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }
}
