<div class="dialog-title-container">
  <h2 mat-dialog-title>Responsáveis</h2>
  <span mat-dialog-subtitle>{{ data.parish }} : Mesa {{ data.tableNumber }}</span>
</div>
<mat-dialog-content class="mat-typography">
  <table>
    <tbody>
      <tr *ngFor="let formControl of data.responsibles.controls; let i = index;">
        <td>
          <div>
            <mat-form-field
              color="warn"
            >
              <mat-label>Responsável</mat-label>
              <mat-select
                [formControl]="castToformControl(formControl)"
                required
              >
                <mat-option *ngFor="let user of usersList | async" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="errors-hints">
              <mat-error *ngIf="hasErrors(formControl, ['required'])">
                O campo Responsável é obrigatório!
              </mat-error>
            </div>
          </div>
        </td>
        <td>
          <button
              type="button"
              mat-icon-button
              matTooltip="Remover responsável"
              color="warn"
              (click)="removeResponsible(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [attr.colspan]=2>
          <div>
            <button
              type="button"
              mat-raised-button
              color="warn"
              (click)="addResponsible()"
            >
              <mat-icon>add</mat-icon>
              Adicionar responsável
            </button>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- Close button -->
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    color="warn"
    [disabled]="data.responsibles.invalid"
  >Fechar</button>
</mat-dialog-actions>
