:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  div[mat-card-title] {
    padding-top: 16px;
    padding-bottom: 24px;

    padding: 16px 24px 24px 24px;
  }

  .not-unique > * {
    vertical-align: middle;
    display: inline-block;
  }

  .not-unique mat-spinner, .valid-username mat-icon {
    margin-right: 5px;
  }

  div[mat-card-content] {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 16px;
  }

}
