<mat-card class="card-form">
  <div mat-card-title>{{ isNewUser ? 'Registar' : 'Editar' }} utilizador</div>
  <mat-divider></mat-divider>
  <div mat-card-content>
    <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="submitForm()">
      <div class="form-group">
        <div class="full-row">
          <mat-form-field color="warn">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="username"
            >
          </mat-form-field>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.username, ['required'])">
              O campo Username é obrigatório!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.username, ['minlength', 'maxlength'])">
              O campo Username deve ter entre 3 e 20 caracteres!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.username, ['pattern'])">
              O Username tem caracteres inválidos
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.username, ['notunique'])">
              Um utilizador com o nome&nbsp;<strong>{{ formGroup.controls.username.value }}</strong>&nbsp;já existe!
            </mat-error>
            <mat-error
              *ngIf="formGroup.controls.username.status === 'PENDING'"
              class="not-unique"
            >
              <mat-spinner color="warn" diameter="24"></mat-spinner><span>A validar o utilizador...</span>
            </mat-error>
            <mat-hint
              *ngIf="
                formGroup.controls.username.touched &&
                formGroup.controls.username.valid &&
                formGroup.controls.username.status !== 'PENDING'
              "
              class="valid-username"
            >
              <mat-icon style="vertical-align: middle;">task_alt</mat-icon>
              <span style="vertical-align: middle;">O utilizador&nbsp;<strong>{{ formGroup.controls.username.value }}</strong>&nbsp;ainda não existe!</span>
            </mat-hint>
          </div>
        </div>
        <div class="half-row">
          <app-password-input
            [required]="isNewUser"
            name="password"
            formControlName="password"
          ></app-password-input>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.password, ['required'])">
              O campo Password é obrigatório!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.password, ['minlength', 'maxlength'])">
              O campo Password deve ter entre 8 e 32 caracteres!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.password, ['strength'])">
              A password inserida é demasiado fraca!
            </mat-error>
          </div>
        </div>
        <div class="half-row">
          <mat-form-field color="warn">
            <mat-label>Confirmar password</mat-label>
            <input
              matInput
              type="password"
              [required]="isNewUser"
              formControlName="passwordConfirmation"
            >
          </mat-form-field>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.passwordConfirmation, ['required'])">
              O campo Confirmar password é obrigatório!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.passwordConfirmation, ['match'])">
              O campo Confirmar password tem de ser igual ao campo Password!
            </mat-error>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="half-row">
          <mat-form-field color="warn">
            <mat-label>Nome</mat-label>
            <input
              matInput
              type="text"
              required
              autocomplete="off"
              formControlName="name"
            >
          </mat-form-field>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.name, ['required'])">
              O campo Nome é obrigatório!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.name, ['minlength'])">
              O Nome é demasiado curto!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.name, ['maxlength'])">
              O Nome é demasiado extenso!
            </mat-error>
            <mat-error *ngIf="hasErrors(formGroup.controls.name, ['minlength'])">
              O Nome é demasiado curto!
            </mat-error>
          </div>
        </div>
        <div class="half-row">
          <mat-form-field color="warn">
            <mat-label>Função</mat-label>
            <mat-select
              required
              formControlName="role"
            >
              <mat-option *ngFor="let role of roles | async" [value]="role">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.role, ['required'])">
              O campo Função é obrigatório!
            </mat-error>
          </div>
        </div>
        <div class="half-row">
          <mat-form-field color="warn">
            <mat-label>Telemóvel</mat-label>
            <input
              matInput
              type="tel"
              formControlName="phone"
            >
          </mat-form-field>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.phone, ['pattern'])">
              Número de Telemóvel inválido!
            </mat-error>
          </div>
        </div>
        <div class="half-row">
          <mat-form-field color="warn">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
            >
          </mat-form-field>
          <div class="errors-hints">
            <mat-error *ngIf="hasErrors(formGroup.controls.email, ['email'])">
              Email inválido!
            </mat-error>
          </div>
        </div>
        <div class="half-row">
          <mat-form-field color="warn">
            <mat-label>Freguesia</mat-label>
            <mat-select formControlName="parish">
              <!-- Empty option -->
              <mat-option [value]="null">
                -- Nenhuma --
              </mat-option>
              <!-- Other options -->
              <mat-option
                *ngFor="let parish of parishes | async"
                [value]="parish"
                [matTooltip]="parish.name"
              >
                {{ parish.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="half-row">
          <mat-slide-toggle
            color="warn"
            class="mat-form-field-infix"
            formControlName="enabled"
          >
            {{ formGroup.controls.enabled.value ? 'Ativo' : 'Inativo' }}
          </mat-slide-toggle>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="actions">
        <button type="button" mat-button (click)="cancelForm()">Cancelar</button>
        <button
          type="submit"
          mat-raised-button
          color="warn"
          [disabled]="formGroup.invalid || formGroup.status === 'PENDING'"
        >Guardar</button>
      </div>
    </form>
  </div>
</mat-card>
