<div class="general-actions">
  <a mat-raised-button color="warn" routerLink="/polls/create">
    <mat-icon>add</mat-icon>
    <span>Criar nova eleição</span>
  </a>
</div>
<div>
  <table
    mat-table
    matSort
    [matSortActive]="sortBy.value + ''"
    matSortDirection="asc"
    [matSortDisableClear]="true"
    (matSortChange)="changeSort($event)"
    [dataSource]="pollsDataSource"
    class="mat-elevation-z8"
  >
    <!-- Main header and column definitions -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header="name" *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let poll">{{ poll.name }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header="date" *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let poll">
        <span>{{ poll.date }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let poll">
        <a
          mat-icon-button
          matTooltip="Editar eleição"
          [routerLink]="['/polls', poll.id, 'edit']"
          color="warn"
        >
          <mat-icon>edit</mat-icon>
        </a>
        <button
          mat-icon-button
          matTooltip="Remover eleição"
          color="warn"
          (click)="confirmPollRemove(poll)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header filters -->
    <ng-container matColumnDef="filtername">
      <th mat-header-cell *matHeaderCellDef>
        <app-autocomplete-filter
          label="Filtrar nome"
          [options]="autoCompletePolls"
          [formControl]="formControlNameFilter"
        ></app-autocomplete-filter>
      </th>
    </ng-container>
    <ng-container matColumnDef="filterdate">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Filtrar data</mat-label>
          <mat-date-range-input
            [rangePicker]="dateFilterPicker"
            color="warn"
          >
            <input matStartDate placeholder="Data inicial" [formControl]="formControlDateStartFilter">
            <input matEndDate placeholder="Data final" [formControl]="formControlDateEndFilter">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="dateFilterPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #dateFilterPicker></mat-date-range-picker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="filteractions">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- Table footer -->
    <ng-container matColumnDef="tableFooter">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
        <mat-paginator
          color="warn"
          [length]="totalPolls"
          [pageSize]="+(itemsPerPage.value || 10)"
          [pageIndex]="+(pageIndex.value || 0)"
          [pageSizeOptions]="[10, 25, 50, 100]"
          (page)="changePage($event)"
        ></mat-paginator>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['tableFooter']"></tr>
  </table>
</div>
