<div *ngIf="formGroup" class="form-group" [formGroup]="formGroup">
  <div class="full-row">
    <mat-form-field color="warn">
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        required
        formControlName="name"
      >
    </mat-form-field>
    <div class="errors-hints">
      <mat-error *ngIf="hasErrors(formGroup.controls.name, ['required'])">
        O campo Nome é obrigatório!
      </mat-error>
      <mat-error *ngIf="hasErrors(formGroup.controls.name, ['minlength', 'maxlength'])">
        O campo Nome deve ter entre 5 e 255 caracteres!
      </mat-error>
      <mat-error *ngIf="hasErrors(formGroup.controls.name, ['notunique'])">
        Já existe uma eleição com o nome <b>{{ formGroup.controls.name.value }}</b>!
      </mat-error>
      <mat-error
        *ngIf="formGroup.controls.name.status === 'PENDING'"
        class="not-unique"
      >
        <mat-spinner color="warn" diameter="24"></mat-spinner><span>A validar o nome...</span>
      </mat-error>
      <mat-hint
        *ngIf="
          formGroup.controls.name.touched &&
          formGroup.controls.name.valid &&
          formGroup.controls.name.status !== 'PENDING'
        "
        class="valid-name"
      >
        <mat-icon style="vertical-align: middle;">task_alt</mat-icon>
        <span style="vertical-align: middle;">Ainda não existe uma eleição com o nome <b>{{ formGroup.controls.name.value }}</b>!</span>
      </mat-hint>
    </div>
  </div>
  <div class="third-row">
    <mat-form-field color="warn">
      <mat-label>Data</mat-label>
      <input
        matInput
        [matDatepicker]="datepicker"
        required
        formControlName="date"
      >
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <div class="errors-hints">
      <mat-error *ngIf="hasErrors(formGroup.controls.date, ['required'])">
        O campo Data é obrigatório!
      </mat-error>
    </div>
  </div>
  <div class="third-row">
    <mat-form-field color="warn">
      <mat-label>Abertura</mat-label>
      <input
        matInput
        type="time"
        required
        formControlName="timeStart"
      >
    </mat-form-field>
    <div class="errors-hints">
      <mat-error *ngIf="hasErrors(formGroup.controls.timeStart, ['required'])">
        O campo Abertura é obrigatório!
      </mat-error>
      <mat-error *ngIf="hasErrors(formGroup.controls.timeStart, ['pattern'])">
        Formato da hora inválido!
      </mat-error>
    </div>
  </div>
  <div class="third-row">
    <mat-form-field color="warn">
      <mat-label>Fecho</mat-label>
      <input
        matInput
        type="time"
        required
        formControlName="timeEnd"
      >
    </mat-form-field>
    <div class="errors-hints">
      <mat-error *ngIf="hasErrors(formGroup.controls.timeEnd, ['required'])">
        O campo Fecho é obrigatório!
      </mat-error>
      <mat-error *ngIf="hasErrors(formGroup.controls.timeEnd, ['pattern'])">
        Formato da hora inválido!
      </mat-error>
    </div>
  </div>
</div>
