<div class="navigation">
  <mat-list>
    <mat-list-item>
      <div class="close-button">
        <button
          mat-icon-button
          (click)="closeNavigation()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/dashboard" (click)="closeNavigation()">Dashboard</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/submit-score" (click)="closeNavigation()">Enviar contagem</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-button routerLink="/submit-result" (click)="closeNavigation()">Enviar resultados</a>
    </mat-list-item>
    <div *ngIf="isManager()">
      <mat-divider></mat-divider>
      <div mat-subheader>Gestão</div>
      <mat-list-item>
        <a mat-button routerLink="/users" (click)="closeNavigation()">Contas</a>
      </mat-list-item>
      <mat-list-item>
        <a
          mat-button
          routerLink="/polls"
          [matBadge]="newResultsForValidation"
          [matBadgeHidden]="!newResultsForValidation"
          matBadgeOverlap="true"
          matBadgeColor="warn"
          (click)="closeNavigation()"
        >Eleições</a>
      </mat-list-item>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item>
      <button mat-button type="button" (click)="logout(); closeNavigation();">Sair</button>
    </mat-list-item>
  </mat-list>
</div>
