:host {
  .navigation {
    flex: 1 1 auto;
    height: 100%;
    background: #ff6500;

    background: radial-gradient(
        circle farthest-corner at 0% 35%,
        rgba(255, 102, 0, 0) 80%,
        rgba(255, 123, 0, 0.4) 80%
      ),
      radial-gradient(
        ellipse farthest-corner at 0% 0%,
        rgba(255, 102, 0, 0) 75%,
        rgba(255, 72, 0, 0.6) 75%
      ),
      #ff6500;

    mat-list {
      width: 250px;
      text-align: right;
      overflow-y: auto;

      mat-list-item {
        color: #ffffff;
        a {
          color: inherit;
          text-decoration: none;
        }

        .close-button {
          width: 100%;

          button {
            float: right;

            mat-icon {
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }

      div[mat-subheader] {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
