<span class="greeting">Olá, {{ name }}</span>
  <button
    (click)="toogleMenu()"
    mat-icon-button
    aria-label="Menu"
    matBadge="&#8288;"
    matBadgeSize="small"
    [matBadgeHidden]="!isThereNewScoreResults"
    matBadgeColor="warn"
    matBadgeOverlap="true"
  >
    <mat-icon>menu</mat-icon>
  </button>
