.card-form {
  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .full-row, .half-row, .third-row {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;

      & > * {
        padding: 0 16px;
        padding-bottom: 8px;
      }
    }

    .full-row {
      flex-basis: 100%;
    }

    .half-row {
      flex-basis: 50%;
    }

    .third-row {
      flex-basis: 33.33%;
    }

    .errors-hints {
      margin-top: -15px;

      & > *:last-child {
        padding-bottom: 16px;
        display: flex;
      }
    }
  }

  .actions {
    padding: 24px 0 0 0;
    text-align: right;
  }
}
