<mat-form-field color="warn" class="filter">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    [value]="inputValue"
    [formControl]="formControl"
    [matAutocomplete]="suggestionBox"
    (focus)="onTouch()"
  >
  <mat-autocomplete #suggestionBox="matAutocomplete" [displayWith]="displayFunction">
    <mat-option *ngFor="let suggestion of options | async" [value]="suggestion">
      {{ suggestion.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
