<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  {{ data.body }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- Ok button -->
  <button *ngIf="!data.cancelButtonAction; else cancelButtonAction"
    mat-button
    [mat-dialog-close]="data.cancelButtonValue || false"
    color="warn"
  >{{ data.cancelButton || 'Cancelar' }}</button>
  <ng-template #cancelButtonAction>
    <button
      mat-button
      color="warn"
      (click)="data.cancelButtonAction ? data.cancelButtonAction() : null"
    >{{ data.cancelButton || 'Cancelar' }}</button>
  </ng-template>

  <!-- Ok button -->
  <button *ngIf="!data.okButtonAction; else okButtonAction"
    mat-raised-button
    [mat-dialog-close]="data.okButtonValue || true"
    cdkFocusInitial
    color="warn"
  >{{ data.okButton || 'Ok' }}</button>
  <ng-template #okButtonAction>
    <button
      mat-raised-button
      cdkFocusInitial
      color="warn"
      (click)="data.okButtonAction ? data.okButtonAction() : null"
    >{{ data.okButton || 'Ok' }}</button>
  </ng-template>
</mat-dialog-actions>
